.footer {
	flex: 0 0 auto;
	background: url(../img/footer.png) center no-repeat;
	background-size: cover;
	width: 100%;
	height: 485px;
	color: #fff;
	margin-top: 115px;
	z-index: 3;

	@media (min-width: 1540px) {
		height: 620px;
	}

	@media (min-width: 1920px) {
		height: 700px;
	}

	@media (max-width: 767px) {
		height: 425px;
		margin-top: 40px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		width: 66%;
		height: 100%;
		margin: 0 auto;

		@media(max-width: 1320px) {
			width: 1060px;
		}

		@media (max-width: 1120px) {
			max-width: 100%;
			padding: 0 50px;
		}

		@media (max-width: 767px) {
			justify-content: flex-start;
			flex-direction: column;
			padding: 0;
			position: relative;
		}
	}

	&__lc,
	&__mc,
	&__rc {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: 767px) {
			flex-direction: column;
			padding: 0;
		}
	}

	&__lc,
	&__rc {
		width: 12%;
		padding-top: 70px;

		@media(max-width: 1320px) {
			width: 20%;
			padding-top: 100px;
		}

		@media(max-width: 767px) {
			width: 100%;
		}
	}

	&__lc {
		@media(max-width: 767px) {
		  order: 2;
			padding-top: 0;
			margin-top: 10px;
		}
	}

	&__rc {

		@media(max-width: 1320px) {
			text-align: right;
		}

		@media(max-width: 767px) {
			order: 3;
			text-align: center;
			padding-top: 0;
		}
	}

	&__mc {
		padding-top: 115px;
		width: 76%;
		align-items: center;

		@media(max-width: 1320px) {
			width: 60%;
		}

		@media(max-width: 1024px) {
			padding-top: 96px;
		}

		@media(max-width: 767px) {
			order: 1;
			justify-content: flex-start;
			width: 100%;
			margin: 0 auto;
			padding-top: 105px;
		}
	}

	&__list {

		@media (max-width: 767px) {
			text-align: center;
		}

		&-item {
			margin-bottom: 18px;

			@media (max-width: 767px) {
				margin-bottom: 0;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			a {
				@include font-size(18);
				text-transform: uppercase;

				@media (max-width: 767px) {
					@include font-size(10);
				}
			}
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		max-width: 200px;
		margin-bottom: 40px;

		@media(max-width: 767px) {
			margin-bottom: 24px;
		}

		a {
			display: block;
			margin-right: 50px;
			transition: .4s;

			&:last-of-type {
				margin-right: 0;
			}

			&:hover {
				opacity: 0.65;
			}
		}
	}

	.section__link {
		margin-top: 15px;
		border-bottom: 1px solid #fff;
	}

	.author {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: $weight-light;
		margin: 20px auto 0;

		@media(max-width: 767px) {
			position: absolute;
			bottom: 20px;
		}

		.section {
			&__desc {
				margin: 0;
			}
			&__link {
				display: inline-block;
				@include font-size(18);
				text-transform: none;
				margin: 0 0 0 5px;

				@media(max-width: 1024px) {
					@include font-size(14);
				}
			}

			&__desc,
			&__link {
				@media(max-width: 767px) {
					@include font-size(10);
				}
			}
		}
	}
}