.header {
	height: 130px;
	background: #fff;
	width: 100%;
	z-index: 2;

	@media(max-width: 1024px) {
		position: fixed;
		height: 90px;
		z-index: 100;
	}

	@media(max-width: 767px) {
		height: 60px;
	}

	&__logo {
		max-width: 137px;

		@media (max-width: 1024px) {
			width: 102px;
		}

		@media (max-width: 767px) {
			width: 68px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__inner {
		max-width: 1230px;
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1320px) {
			max-width: 1060px;
		}

		@media (max-width: 1120px) {
			max-width: 100%;
			padding: 0 50px;
		}

		@media (max-width: 1024px) {
			padding: 0 25px;
		}
	}

	&__nav {
		display: flex;
		justify-content: flex-end;
		height: 50px;

		@media (max-width: 1024px) {
			position: fixed;
			z-index: 100;
			height: 100vh;
			width: 100%;
			max-width: 414px;
			right: -414px;
			transition: transform 0.68s cubic-bezier(0.64, 0.04, 0.35, 1);
			overflow: auto;
			flex-direction: column;
			background: #fff;
			justify-content: center;
			top: 0;
			box-shadow: 0 1px 2px 1px rgba(0,0,0,0.05)
		}

		&-item {
			margin-left: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: 0.077em;

			@media (max-width: 1120px){
				margin-left: 30px;
			}

			@media (max-width: 1024px){
				@include font-size(24);
				font-weight: $weight-semibold;
				margin-bottom: 40px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			@media (max-width: 767px) {
				text-transform: none;
				margin-bottom: 50px;
				margin-left: 0;
			}

			a {
				cursor: pointer;
			}
		}
	}

	&__link {
		display: none;

		@media (max-width: 1024px) {
			display: block;
			margin-right: 65px;
		}

		@media (max-width: 767px) {
			display: block;
			margin-right: 42px;
		}
	}

	.btn--cta {
		padding-left: 30px;
		padding-right: 30px;

		@media (max-width: 767px) {
			padding-left: 7px;
			padding-right: 7px;
		}
	}
}

.menu-opened{
	.header__nav {
		transform: translateX(-414px) translateZ(0);
	}
}

.menu-burger {
	display: none;

	@media (max-width: 1024px){
		display: block;
		width: 76px;
		height: 90px;
		padding: 32px 24px;
		right: 0;
		cursor: pointer;
		position: fixed;
		z-index: 1000;

		span {
			top: 10px;
			transition: all 0.2s ease-in-out;

			&,
			&:before,
			&:after {
				position: relative;
				display: block;
				top: 12px;
				height: 2px;
				background: $primary;
			}

			&:before,
			&:after {
				content: '';
				top: -10px;
				transition: all 0.2s ease-in-out;
			}

			&:after {
				top: auto;
				bottom: -8px;
				transition-delay: .1s;
			}
		}

		&.is-active {
			span {
				height: 2px;
				transform: rotate(45deg) translateZ(0);

				&:before,
				&:after {
					width: 28px;
					left: 0;
					right: 0;
					top: 0;
					height: 2px;
					transform: rotate(-90deg) translateZ(0);
				}

				&:after {
					display: none;
				}
			}
		}
	}

	@media (max-width: 767px){
		padding: 18px 24px;
		height: 60px;
	}
}
