.btn {
	height: 50px;
	transition: .4s;
	padding: 17px 15px;
	display: inline-block;
	cursor: pointer;
	line-height: 1;

	@media (max-width: 1024px) {
		padding: 13px 15px;
		height: 40px;
	}

	@media (max-width: 767px) {
		padding: 14px 15px;
	}

	&--cta {
		width: auto;
		background: $primary-red;
		color: #fff;
		font-weight: $weight-semibold;
		text-transform: uppercase;
		@include font-size(16);
		letter-spacing: 0.125em;
		text-align: center;

		@media (max-width: 1024px) {
			@include font-size(14);
		}

		@media (max-width: 767px) {
			@include font-size(12);
			padding-left: 7px;
			padding-right: 7px;
		}

		&:hover {
			color: $primary-red;
			background: #fff;
		}
	}
}
