footer.footer
	.footer__inner
		.footer__lc
			ul.footer__list
				li.footer__list-item
					a(href="index.html" title="Головна") Головна
				li.footer__list-item
					a(href="about.html" title="Про нас") Про нас
				li.footer__list-item
					a(href="price.html" title="Підписки") Підписки
		.footer__mc
			.footer__social
				a(href="https://www.instagram.com/bookowina.box/" title="Instagram" target="_blank")
					img(src="img/svg/instagram.svg" alt="Instagram")
				a(href="https://www.facebook.com/bookowina.box/" title="Facebook" target="_blank")
					img(src="img/svg/facebook.svg" alt="Facebook")
				a(href="https://twitter.com/bookowinabox" title="Twitter" target="_blank")
					img(src="img/svg/twitter.svg" alt="Twitter")
			h2.section__subtitle Пишіть нам будь-коли
			a.section__link(href="mailto:bookowina.box@gmail.com" title="Написати нам") Написати нам

			.author
				p.section__desc Іллюстрації -
				a.section__link(href="https://www.behance.net/greenanabioz" target="_blank" title="Іллюстрації") Daria Ganns

		.footer__rc
			ul.footer__list
				li.footer__list-item
					a(href="faq.html?tab=service" title="Про Сервіс") Про Сервіс
				li.footer__list-item
					a(href="faq.html?tab=delivery" title="Доставка") Доставка
				li.footer__list-item
					a(href="faq.html?tab=change" title="Обмін") Обмін

include scripts