meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no")
meta(name="HandheldFriendly" content="true")
meta(charset="utf-8")
link(rel="icon", sizes="16x16", href="img/favicon.ico")
link(rel="stylesheet" href="./css/core.css")
title Bookowina: Книги та вино
meta(name="description" content="Книги та вино: коробочка-сюрприз. Ідеальне поєднання для вас.")
meta(property="og:title", content="Книги та вино")
meta(property="og:url", content="http://bookowina.com.ua/")
meta(property="og:description", content="Коробочка-сюрприз: ідеальне поєднання для вас")
meta(property="og:image", content="http://bookowina.com.ua/img/logo.png")
meta(property="og:image:type", content="img/png")
meta(property="og:image:width", content="137")
meta(property="og:image:height", content="81")
meta(property="twitter:description", content="Книги та вино: коробочка-сюрприз")
link(rel="image_src", href="")
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-118950065-1')
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-118950065-1');