header.header
	.header__inner
		a.header__logo(href="index.html" title="На головну")
			img(src="img/logo.png")
		ul.header__nav
			li.header__nav-item
				a(href="about.html" title="Про нас") Про нас
			li.header__nav-item
				a(href="price.html" title="Вартість") Вартість
			li.header__nav-item
				a(href="faq.html" title="Часті питання") Часті запитання
			li.header__nav-item
				a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" target="_blank" title="Підписатися") Підписатися
		a.header__link.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" target="_blank" title="Перейти") Підписатися
.menu-burger
	span

