doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.about

					.about__wrap

						h1.section__title Про нас

						p.section__desc Ми створили Bookowina, бо знаємо, як важко знайти час для себе, як мучить процес вибору, як хочеться загорнутися у ковдру та провести вихідний за книгою та вином. Знаємо, тому що ми — такі самі:)

						img.about__img(src="img/about/book.png" title="Книга")


						.about__people

							.about__lc
								img.about__people-img(src="img/about/julia.png" alt="Юля")
								.about__people-text
									h3.section__subtitle Юля
									p.section__desc
									| Книжковий гік,
									br
									| співзасновниця проекту
									a.section__link(href="https://www.facebook.com/nikolaeva.julz" title="Facebook Юлі" target="_blank" ) Facebook Юлі
							.about__rc
								img.about__people-img(src="img/about/karina.png" alt="Каріна")
								.about__people-text
									h3.section__subtitle Каріна
									p.section__desc
									| Майстриня комунікацій,
									br
									| співзасновниця проекту
									a.section__link(href="https://www.facebook.com/repiakh.karina" title="Facebook Каріни" target="_blank" ) Facebook Каріни

					.ornament
						img(src="img/ornament.png" alt="Орнамент")

					.about__inner

						h2.section__title.section__title--upper Ми у ЗМІ

						.about__table
							.about__table-row
								.about__table-item
									a.img-wrap(href="https://gazeta.ua/articles/economics/_vino-i-knigi-ukrayinki-zaroblyayut-na-lyubovi-do-chitannya/816805" title="Перейти" target="_blank" )
										img(src="img/about/gazeta.png")
								.about__table-item
									a.img-wrap(href="https://bit.ua/2018/01/psp-kak-zarabatyvayut-knizhnye-servisy-podpisok-v-ukraine/" title="Перейти" target="_blank" )
										img(src="img/about/bit.png")
								.about__table-item
									a.img-wrap(href="https://bzh.life/plany/podarki-na-novyj-god-2017" title="Перейти" target="_blank" )
										img(src="img/about/bzh.png")
							.about__table-row
								.about__table-item
									a.img-wrap(href="http://bukvoid.com.ua/events/pesentation/2017/07/03/132720.html" title="Перейти" target="_blank" )
										img(src="img/about/bk.png")
								.about__table-item
									a.img-wrap(href="http://thedevochki.com/2017/03/10/nado-brat-korobka-s-knigami-i-vinom-bookowina/" title="Перейти" target="_blank" )
										img(src="img/about/devochki.png")
								.about__table-item
									a.img-wrap(href="https://lviv.com/panoptykum/knygy-i-vyno-za-peredplatoyu-yak-pratsyuye-startap-bookowina/amp/" title="Перейти" target="_blank" )
										img(src="img/about/lviv.png")
							.about__table-row
								.about__table-item
									a.img-wrap(href="http://www.chytomo.com/news/knizhkovi-korobki-servisi-vidbirnoii-literaturi" title="Перейти" target="_blank" )
										img(src="img/about/chytomo.png")
								.about__table-item
									a.img-wrap(href="https://vsiknygy.net.ua/news/50075/" title="Перейти" target="_blank" )
										img(src="img/about/friend.png")
								.about__table-item
									a.img-wrap(href="https://nachasi.com/2017/05/10/bookowina-interview/" title="Перейти" target="_blank" )
										img(src="img/about/nachasi.png")
							.about__table-row
								.about__table-item
									a.img-wrap(href="http://ukraineartnews.com/news/events/knigu-ob-uukrainskom-iskusstve-vypustili-v-originalnoj-korobochke" title="Перейти" target="_blank" )
										img(src="img/about/ukraineartnews.png")
								.about__table-item
									a.img-wrap(href="http://promin.fm/quote/2075/Voni-mayut-prichetnist-do-knizhok-kakao-i-vina/" title="Перейти" target="_blank" )
										img(src="img/about/promin.png")
								.about__table-item
									a.img-wrap(href="http://mamant.com.ua/blog/zhmm/bookowina-novyi-boks-servis-s-knigami-kotoryi-ty-poliubish-vsem-serdtsem" title="Перейти" target="_blank" )
										img(src="img/about/mamant.png")


			include partials/global/footer