doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.faq

					.faq__wrapper

						h1.section__title Часті запитання

						img.faq__img(src="img/faq.png" alt="Букохолік")

						ul.faq__nav
							li.faq__item.service
								.faq__headline
									.faq__wrap
										.faq__lc
											.faq__plus
										.faq__rc
											h3.section__subtitle Про сервіс

								.faq__inner
									p.section__desc.section__desc--strong Так, ви не будете знати, що за книги ми кладемо у коробку кожного разу.
									p.section__desc Але це будуть дійсно гарні літературні витвори, сучасні або класичні, відомі давно та найновіші, світові бестселлери та локальні перлини талановитих авторів.

									p.section__desc.section__desc--strong Крім того, ви не вгадаєте, яке вино ми доберемо до книг.
									p.section__desc Але будьте певні, ви отримаєте гідну пляшку, яка створить відповідну атмосферу, не тільки для книги, а й до вечері:) Якщо ж ви обираєте какао, тим простіше - ми знайшли найсмачніше для вас.

									p.section__desc.section__desc--strong Ні, ми не змушуємо вас читати книги та пити вина, що подобаються нам.
									p.section__desc Але ми відповідаємо за якість вмісту коробки. Якщо наші смаки не сходяться — обміняємо книги на інші, а вино — на рецепт глінтвейну;)

									p.section__desc.section__desc--strong Так, ми знаємо, що електронна книга зручніша.
									p.section__desc Але ніщо не замінить шурхіт сторінок та аромат паперу. Тим паче, що ми радимо читати книжки з нашої коробки у приємному місці, нікуди не поспішаючи. В решті решт, для електронних книг є метро та автобуси, але що ви поставите на свою книжкову полицю?

									p.section__desc.section__desc--strong Так, ми зауважили розмаїття людських вподобань.
									p.section__desc Тому перед замовленням запитаємо дещо про ваші літературні смаки. Крім того, вино у коробці можна замінити на какао.




							li.faq__item.delivery
								.faq__headline
									.faq__wrap
										.faq__lc
											.faq__plus
										.faq__rc
											h3.section__subtitle Доставка

								.faq__inner
									p.section__desc.section__desc--strong Доставляємо коробки на зручне для вас відділення Нової Пошти  або кур’єром до дверей.
									p.section__desc Передплата діє на наступний місяць, тобто у квітні можна замовити травневу коробку, у травні - червневу тощо. Аби не забути замовити нову коробку, радимо вам обирати тримісячну передплату.
									p.section__desc.section__desc--strong Доставка коробок відбувається у період  1-6 числа кожного місяця.

							li.faq__item.change
								.faq__headline
									.faq__wrap
										.faq__lc
											.faq__plus
										.faq__rc
											h3.section__subtitle Обмін та повернення

								.faq__inner
									p.section__desc.section__desc--strong Якщо вам попалися книги, які ви вже читали, ми без проблем замінимо їх на інші.
									p.section__desc Закорковану пляшку вина також можна обміняти. З відкритої пляшки, яка вам не до вподоби, можна зробити смачний глінтвейн (звертайтеся до нас за рецептом).
									p.section__desc Какао поверненню не підлягає, бо смачне.
									p.section__desc Процес повернення-обміну обговорюється індивідуально.

			include partials/global/footer