doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container
				include partials/home/001-hero
				include partials/home/002-we-are
				include partials/home/003-inside
				include partials/home/004-process
				include partials/home/005-prepay
				include partials/home/006-subscribe

			include partials/global/footer