doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.price

					h1.section__title Обери свою підписку

					form.price__inner
						.price__lc
							.price__wrap
								span.price__title Впевнений букохолік
							p.price__ammount 1962 грн
							p.section__desc.section__desc--strong 4 місяці
							a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Обрати" target="_blank") Обрати

						.price__mc
							.price__wrap
								span.price__title Початківець
							p.price__ammount 962 грн
							p.section__desc.section__desc--strong 2 місяці
							a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Обрати" target="_blank") Обрати

						.price__rc
							.price__wrap
								span.price__title Справжній фанат
							p.price__ammount 1452 грн
							p.section__desc.section__desc--strong 3 місяці
							a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Обрати" target="_blank") Обрати

					p.section__desc.section__desc--center *окремо сплачується вартість доставки Новою Поштою

					.corporate

						.corporate__lc
							h3.section__subtitle..section__desc--upper Корпоративні замовлення
							p.section__desc Я із задоволенням допоможу тобі створити гарний настрій колегам або клієнтам.
							a.section__link(href="mailto:bookowina.box@gmail.com" title="Написати нам") Написати нам
						.corporate__rc
							img(src="img/corporate.png" alt="Корпоративні замовлення")


			include partials/global/footer