.contacts {
	padding-top: 38px;

	@media (max-width: 767px) {
		padding-top: 73px;
		margin-bottom: 23px;
	}

	&__inner {
		padding-top: 30px;
		display: flex;

		@media (max-width: 767px) {
			flex-direction: column;
			padding-top: 44px;
		}

		.btn--cta {
			margin-top: 60px;
			padding: 0 36px;

			@media (max-width: 1120px) {
				margin-top: 30px;
			}

			@media (max-width: 767px) {
				margin: 56px auto 0;
				display: block;
			}
		}
	}

	&__lc {
		width: 41.5%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		padding: 70px 60px 0 98px;

		@media (max-width: 1120px) {
			padding: 40px 40px 0;
			width: 50%;
		}

		@media (max-width: 767px) {
			text-align: center;
			justify-content: center;
			align-items: center;
			padding: 0;
		}
	}

	&__rc {
		width: 58.5%;

		@media (max-width: 1120px) {
			padding: 0 40px 0 0;
			width: 50%;
		}
		@media (max-width: 767px) {
			padding: 43px 15px 0;
		}
	}

	&__lc,
	&__rc {
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__form {

		&-group {
			margin-bottom: 18px;
		}

		&-label {
			@include font-size(18);
			font-weight: 800;
			line-height: 1.56;

			@media (max-width: 1120px) {
				@include font-size(16);
			}

			@media(max-width: 767px) {
				@include font-size(14);
			}

			span {
				color: #d2d2d2;
			}

			&.red {
				color: $primary-red;
			}
		}

		&-inp,
		&-text {
			border-bottom: 1px solid #cfcfcf;
			display: block;
			width: 100%;
			@include font-size(18);
			font-weight: $weight-light;
			line-height: 1.56;
			color: #666666;

			@media (max-width: 1120px) {
				@include font-size(16);
			}

			@media (max-width: 767px) {
				@include font-size(14);
				line-height: 2;
			}

			&:focus {
				border-color: $primary-red;
				color: $primary-red;
			}
		}

		&-text {
			height: 60px;
		}

		&-radio {
			width: 40px;
			height: 40px;
			background: #ececec;
			border-radius: 50%;
			display: none;

			&:checked {
				& + .radio__custom {
					&:before {
						display: block;
					}
				}
			}
		}
	}

	&__sent {
		padding-top: 52px;

		@media (max-width: 767px) {
			text-align: center;
			padding-top: 24px;
			margin-top: 40px;
			display: flex;
			flex-direction: column;
		}

		.section__desc {
			margin: 28px auto 40px 0;

			@media(max-width: 767px) {
				margin: 17px auto 32px;
				width: 80%;
				display: inline-block;
			}
		}

		.btn--cta {
			padding-left: 36px;
			padding-right: 36px;

			@media (max-width: 767px) {
				margin: 0 auto;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.section__desc {
		@media(min-width: 768px) and (max-width: 1024px) {
			@include font-size(16);
		}
	}

}

.radio {

	&__group {
		display: flex;
		margin-top: 22px;
		align-items: center;

		@media(max-width: 767px) {
			margin-top: 19px;
		}

		.section__desc {
			margin-left: 20px;
		}
	}

	&__custom {
		width: 40px;
		height: 40px;
		max-width: 40px;
		max-height: 40px;
		background: #ececec;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		flex: 1 0 auto;

		&:before {
			content:'';
			position: absolute;
			top: 10px;
			left: 10px;
			background: $primary-red;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			display: none;
		}
	}
}