.hero {
	background: url(../img/hero.png) center no-repeat;
	background-size: contain;
	width: 100%;
	height: 694px;
	padding-top: 64px;
	text-align: center;
	font-family: $vollkorn;

	@media (max-width: 1120px) {
		height: 594px;
	}

	@media (max-width: 1024px) {
		background-size: cover;
		width: calc(100% + 80px);
		margin-left: -40px;
	}

	@media (max-width: 767px) {
		padding-top: 70px;
		background: url(../img/hero-m.png) center no-repeat;
		background-size: contain;
		background-position: bottom;
		height: 400px;
		width: 100%;
		margin-left: 0;
	}

	@media (min-width: 576px) and (max-width: 767px) {
		background: url(../img/hero.png) center no-repeat;
		background-size: contain;
	}

	&__title {
		@include font-size(80);
		text-transform: uppercase;
		line-height: 1em;
		margin: 30px auto 13px;
		letter-spacing: 0.013em;

		@media (max-width: 1320px) {
			@include font-size(60);
		}

		@media (max-width: 767px) {
			@include font-size(36);
			margin: 18px auto 8px;
		}
	}

	&__subtitle {
		@include font-size(24);
		text-transform: uppercase;
		letter-spacing: 0.021em;
		margin: 0 auto;

		@media (max-width: 1320px) {
			@include font-size(20);
		}

		@media (max-width: 767px) {
			@include font-size(14);
			letter-spacing: 0;
		}
	}

	.look-more {
		font-family: $open-sans;
		@include font-size(18);
		font-weight: $weight-light;
		display: inline-block;
		margin-top: 20px;

		@media (max-width: 767px) {
			@include font-size(14);
			margin-top: 4px;
		}
	}

	.arrow {
		display: block;
		position: relative;
		height: 50px;
		width: 10px;
		margin: 0 auto;
		animation: bounce 1.5s ease-in-out infinite;

		@media (max-width: 767px) {
			height: 33px;
		}

		&:before,
		&:after {
			position: absolute;
			content:'';
		}

		&:before {
			width: 3px;
			height: 50px;
			background: $primary;

			@media (max-width: 767px) {
				height: 33px;
				width: 2px;
			}
		}

		&:after {
			background: transparent;
			width: 17px;
			height: 17px;
			border-right: 2px solid $primary;
			border-bottom: 2px solid $primary;
			transform: rotate(45deg);
			display: block;
			top: 32px;
			left: -2px;

			@media (max-width: 767px) {
				width: 12px;
				height: 12px;
				top: 21px;
				left: 0;
			}
		}
	}
}

@keyframes bounce {
	0% {
		margin-top: 18px;
	}
	50% {
		margin-top: 26px;
	}
	100% {
		margin-top: 18px;
	}
}