.we-are {
	background: url(../img/we-are.png) center no-repeat;
	background-size: contain;
	width: 100%;
	height: 754px;
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;

	@media(max-width: 1120px) {
		height: 654px;
	}

	@media(max-width: 1024px) {
		height: 500px;
	}

	@media(max-width: 767px) {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		background: none;
		height: auto;
		padding: 0;
	}

	&__lc {
		@media(max-width: 767px) {
			width: 100%;
			background: url(../img/we-are-lc.png) center no-repeat;
		  background-position: right 0;
			background-size: contain;
			height: 440px;
			margin-bottom: 45px;
		}
	}

	&__rc {
		width: 43%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		padding-top: 168px;

		@media(max-width: 1120px) {
			padding-top: 90px;
		}

		@media(max-width: 1024px) {
			width: 46%;
		}

		@media(max-width: 767px) {
			width: 100%;
			background: url(../img/we-are-rc.png) center no-repeat;
			background-position: left 0;
			background-size: contain;
			height: 440px;
			padding-top: 45px;
		}
	}

	&__inner {
		max-width: 360px;
		width: 100%;

		@media (max-width: 1024px) {
			padding-right: 80px;
		}

		@media (max-width: 767px) {
			padding-left: 38px;
		}

		@media(max-width: 374px) {
			max-width: 286px;
			padding-right: 0;
		}
	}

	.section {

		&__title {
			margin-top: 30px;
			margin-left: 0;

			@media (max-width: 1024px) {
				margin-top: 10px;
			}

			@media (max-width: 767px) {
				margin-top: 16px;
			}
		}

		&__desc {
			margin: 12px 0 30px;

			@media (max-width: 1024px) {
				margin-bottom: 16px;
			}
		}
	}
}