.inside {
	margin-top: 82px;

	@media(max-width: 767px) {
		margin-top: 88px;
	}

	&__inner {
		height: 627px;
		margin-top: 10px;
		position: relative;

		@media(max-width: 1024px) {
			height: 460px;
		}

		@media(max-width: 767px) {
			height: 100%;
		}
	}

	.layer {

		&-1 {
			position: absolute;
			z-index: 10;
			background: url(../img/inside/inside.png) center no-repeat;
			background-size: contain;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: flex-end;
			padding-bottom: 80px;
			transition: .4s;
			opacity: 1;

			@media (max-width: 1120px){
				background-size: cover;
			}

			@media (max-width: 1024px){
				background-size: contain;
				padding-bottom: 70px;
			}

			@media (max-width: 767px){
				display: none;
			}

			&.hidden {
				opacity: 0;
				z-index: 1;
			}
		}

		&-2 {
			z-index: 4;
			position: absolute;
			top: 10px;
			left: 68px;
			width: 88%;
			height: 540px;
			opacity: 0;
			transition: .4s;

			@media(max-width: 1024px) {
				position: inherit;
				left: 0;
				width: 100%;
				height: 400px;
			}

			@media (max-width: 767px){
				opacity: 1;
				top: inherit;
				left: inherit;
				height: 100%;
			}

			&__inner {
				display: flex;
				width: 100%;
				height: 100%;
				justify-content: space-between;

				@media(max-width: 1024px) {
					max-width: 700px;
					margin: 0 auto;
				}

				@media(max-width: 767px) {
					flex-direction: column;
				}
			}

			&__lc {
				width: 37%;
				position: relative;

				@media(max-width: 767px) {
				  height: 500px;
					max-width: 323px;
					margin: 0 auto;
				}
			}

			&__rc {
				width: 63%;

				@media(max-width: 1320px) {
					width: 60%;
				}

				@media(max-width: 767px) {
					height: 100%;
				}
			}

			&__lc,
			&__rc {
				@media (max-width: 767px) {
					width: 100%;
				}
			}

			&__item {

				.scene {
					position: absolute;
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
					display: flex;
					justify-content: center;
					align-items: center;

					@media (max-width: 767px) {
						position: inherit;
						height: 100%;
						backface-visibility: visible;
					}

					&__inner {
						width: 360px;
					}

					&--front {
						cursor: pointer;

						@media (max-width: 767px) {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							position: relative;

							.section__desc {
								max-width: 250px;
							}
						}

						img {
							@media (max-width: 767px) {
								z-index: 10;
								width: 86%;
								max-width: 213px;
								opacity: 1;
								transition: .4s;
							}

							&.hide {
								opacity: 0;
							}
						}
					}
				}

				&--top,
				&--bot {
					width: 100%;
					transition: 1s;
					transform-style: preserve-3d;

					&.reverted {
						transform: rotateX(180deg);

						@media(max-width: 767px) {
							transform: none;
						}
					}

					@media(max-width: 767px) {
						transform: none;
					}
				}

				&--top {
					height: 72%;

					.scene {
						background: url(../img/inside/blue.png) center no-repeat;

						@media(max-width: 1024px) {
							background-size: contain;
						}

						@media(max-width: 767px) {
							background: url(../img/inside/blue-m.png) center no-repeat;
						}

						&--front {
							@media(max-width: 767px) {
								color: #fff;
								padding: 150px 0;
								margin-top: 40px;
								display: flex;
								flex-direction: column;
								justify-content: center;
							}

							img {

								@media (max-width: 1024px) {
									max-width: 290px;
								}

								@media (max-width: 767px) {
									max-width: 213px;
								}
							}
						}

						&--back {
							transform: rotateX(180deg);
							color: #fff;

							@media(max-width: 767px) {
								display: none;
							}
						}
					}
				}

				&--bot {
					height: 28%;

					.scene {
						background: url(../img/inside/white.png) center no-repeat;

						@media(max-width: 1024px) {
							background-size: contain;
						}

						@media(max-width: 767px) {
							background: url(../img/inside/white-m.png) center no-repeat;
						}

						&--front {
							@media(max-width: 767px) {
								color: $primary;
								padding: 40px 0;
								margin-top: 40px;
								display: flex;
								flex-direction: column;
								justify-content: center;
							}

							img {

								@media (max-width: 1024px) {
									max-width: 180px;
								}

								@media (max-width: 767px) {
									margin-bottom: 23px;
								}
							}
						}

						&--back {
							transform: rotateX(180deg);
							color: $primary;

							@media(max-width: 767px) {
								display: none;
							}
						}
					}
				}
			}

			&.visible {
				opacity: 1;
			}

			.section__desc {

				&.upper {
					text-align: center;
				}
			}
		}

	}

	.btn--cta {
		padding-left: 25px;
		padding-right: 25px;
	}

	.tabs {

		&__nav {
			position: absolute;
			bottom: 60px;
			left: calc(50% - 134px);
			display: flex;
			justify-content: space-between;
			color: #fff;
			z-index: 5;
			width: 268px;

			@media(max-width: 1024px) {
				left: calc(50% - 113px);
				width: 226px;
				bottom: 50px;
			}

			&-item {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-transform: uppercase;

				span {
					margin-left: 20px;

					@media(max-width: 1024px) {
						margin-left: 10px;
					}
				}
			}
		}

		&__inner {
			height: 90%;
			width: 100%;
			color: #fff;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@media(max-width: 1024px) {
				height: 64%;
				margin-top: 40px;
			}

			@media(max-width: 767px) {
				height: 68%;
			}
		}

		&__img,
		&__text {
			transition: .4s;
		}

		&__img {
			height: 100%;
			width: 100%;
			display: block;
			z-index: 3;
			opacity: 1;
			cursor: pointer;

			@media(max-width: 1024px) {
				background-size: contain !important;
				width: 50%;
				margin: 0 auto;
			}

			@media(max-width: 767px) {
				background-size: inherit !important;
				width: 100%;
			}

			&.hidden {
				opacity: 0;
				z-index: 1;
			}
		}

		&__text {
			display: flex;
			position: absolute;
			top: 0;
			opacity: 0;
			z-index: 2;
			width: 250px;
			height: 100%;
			flex-direction: column;
			justify-content: center;

			@media(max-width: 1024px) {
				padding: 0 25px;
			}

			&.visible {
				opacity: 1;
				z-index: 3;
			}
		}

		#tab-1,
		#tab-2 {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			align-items: center;
		}

		#tab-1 {
			background: url(../img/inside/red.png) center no-repeat;

			@media(max-width: 1024px) {
				background-size: contain;
			}

			.tabs__img {
				background: url(../img/inside/wine.png) center no-repeat;
			}
		}

		#tab-2 {
			background: url(../img/inside/light-blue.png) center no-repeat;

			@media(max-width: 1024px) {
				background-size: contain;
			}

			.tabs__img {
				background: url(../img/inside/cocoa.png) center no-repeat;
			}
		}

		&__checkbox {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			height: 40px;
			width: 40px;
			border-radius: 100px;
			transition: .4s;

			&-circle {
				width: 20px;
				height: 20px;
				background: #d05848;
				border-radius: 100px;
				display: none;
			}
		}
	}

	.ui-tabs-active {
		.tabs__checkbox-circle {
			display: block;
		}
	}

	.section__title {
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	.section__number {
		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}
}