.process {
	margin-top: 85px;

	@media (max-width: 1024px) {
		margin-top: 50px;
	}

	&__wrap {
		position: relative;
		margin: 40px auto 0;
		display: flex;
		padding-bottom: 48px;

		@media (max-width: 1120px) {
			padding-bottom: 96px;
		}

		@media (max-width: 1120px) {
			margin-top: 20px;
		}

		@media (max-width: 767px) {
			margin-top: 40px;
			flex-direction: column;
			padding-bottom: 40px;
		}
	}

	&__img {
		position: absolute;
		background: url(../img/process.png) center no-repeat;
		background-size: contain;
		width: 922px;
		height: 529px;
		left: 94px;
		top: 10px;

		@media (max-width: 1320px) {
			left: 4%;
		}

		@media (max-width: 1120px) {
			width: 90%;
			left: 0;
		}

		@media (max-width: 1024px) {
			height: 400px;
			top: -10px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__lc {
		padding-top: 298px;

		.section__desc {
			margin: 2px auto 0 0;
		}

		&-img {
			@media (max-width: 767px) {
				margin: 10px auto 20px;
			}
		}

		@media (max-width: 1024px) {
			padding-top: 230px;
		}

		@media (max-width: 767px) {
			margin-bottom: 100px;
		}
	}

	&__mc {
		padding-top: 422px;
		padding-left: 5px;

		@media (max-width: 1024px) {
			padding-top: 324px;
		}

		@media (max-width: 767px) {
			margin-bottom: 25px;
		}

		&-img {
			@media (max-width: 767px) {
				margin: 10px auto 44px;
			}
		}

		.section__desc {
			margin: 9px auto 0 0;
		}
	}

	&__rc {
		padding-top: 547px;
		padding-left: 8px;

		&-img {
			@media (max-width: 767px) {
				margin: 0 auto 28px;
			}
		}

		@media (max-width: 1024px) {
			padding-top: 440px;
		}

		.section__desc {
			margin: 13px auto 0 0;
		}
	}


	&__lc,
	&__mc,
	&__rc {
		min-width: 366px;

		&-img {
			display:none;

			@media (max-width: 767px) {
				display: block;
			}
		}

		@media (max-width: 1120px) {
			min-width: 33%;
			padding-left: 10px;
			padding-right: 10px;
		}

		@media (max-width: 767px) {
			width: 100%;
			padding-top: 0;
			text-align: center;
		}
	}

	.btn--cta {
		position: absolute;
		bottom: 80px;
		left: calc(50% - 105px);
		max-width: 210px;

		@media (max-width: 767px) {
			position: inherit;
			margin: 0 auto;
			display: table;
			width: auto;
			left: inherit;
			bottom: inherit;
			margin-bottom: 20px;
		}
	}

	.section__desc {
		width: 90%;

		@media (max-width: 1120px) {
			width: 100%;
		}

		@media(max-width: 767px) {
			max-width: 89%;
			margin: 7px auto 0;
		}
	}
}
