.prepay {
	color: #fff;
	margin-top: 80px;

	@media (max-width: 1120px) {
		margin-top: 40px;
	}

	@media (max-width: 767px) {
		text-align: center;
		margin-top: 66px;
	}

	&__inner {
		display: flex;
		background: url(../img/red-book.png) center no-repeat;
		background-size: contain;
		height: 600px;
		justify-content: space-between;

		@media (max-width: 1120px) {
			height: 500px;
		}

		@media (max-width: 767px) {
			height: 567px;
			background: url(../img/red-book-m.png) center no-repeat;
			flex-direction: column;
			justify-content: flex-start;
			padding-top: 75px;
		}
	}

	&__lc {
		width: 50%;
		padding-left: 37px;
		justify-content: center;
		align-items: center;

		@media(max-width: 767px) {
			order: 2;
			margin-top: 23px;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 432px;

			@media(max-width: 767px) {
				max-width: 250px;
				margin: 0 auto;
			}
		}
	}

	&__rc {
		width: 48.2%;
		justify-content: flex-start;
		padding-top: 156px;

		@media (max-width: 1120px) {
			padding-right: 60px;
			padding-top: 0;
			justify-content: center;
		}

		@media(max-width: 767px) {
			order: 1;
		}

		.section__desc {
			margin: 12px 0;

			@media (max-width: 767px) {
				width: 260px;
				margin: 16px auto 0;
			}
		}
	}

	&__wrap {
		max-width: 460px;
		width: 100%;

		@media(max-width: 767px) {
			max-width: 100%;
		}
	}

	&__lc,
	&__rc {
		display: flex;
		flex-direction: column;

		@media (max-width: 767px) {
			width: 100%;
			padding: 0;
		}
	}

	&__price {
		font-family: 'Vollkorn', serif;
		@include font-size(36);
		font-weight: $weight-semibold;
		line-height: 0.89;
		margin-top: 27px;
		display: inline-block;

		@media (max-width: 1024px) {
			@include font-size(24);
			margin-top: 10px;
		}

		@media (max-width: 767px) {
			@include font-size(18);
		}
	}

	.section {

		&__title {
			margin-left: 0;

			@media (max-width: 767px) {
				margin: 0 auto;
			}
		}

		&__number {
			color: $primary;
			margin-top: 41px;
		}

		&__link {
			margin-top: 36px;
			border-bottom: 1px solid #fff;

			@media (max-width: 767px) {
			  margin: 20px auto 0;
			}
		}
	}

	.divider {
		margin: 93px auto 40px;
		width: 60px;
		position: relative;

		@media (max-width: 1120px) {
			margin-top: 60px;
		}

		@media (max-width: 767px) {
			margin: 98px auto 45px;
			width: 47px;
		}

		&:before,
		&:after {
			position: absolute;
			content:'';
			width: 173px;
			height: 1px;
			background: #000;
			display: block;
			top: 30px;

			@media (max-width: 767px) {
				width: 90px;
				top: 18px;
			}
		}

		&:before {
			left: -223px;

			@media (max-width: 767px) {
				left: -105px;
			}
		}

		&:after {
			right: -223px;

			@media (max-width: 767px) {
				right: -105px;
			}
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}