.reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $primary;
	width: 81.5%;

	@media (max-width: 1024px) {
		width: 100%;
	}

	@media (max-width: 767px) {
		flex-direction: column;
	}

	&__item {
		width: 45%;
		margin-bottom: 40px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	&__headline {
		display: flex;
		justify-content: flex-start;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__person {
		display: block;
		width: 60px;
		height: 60px;

		@media (max-width: 767px) {
			margin: 0 auto;
		}
	}

	&__name {
		@include font-size(18);
		line-height: 1.56;
		font-weight: $weight-bold;
		display: inline-block;
		margin-left: 20px;

		@media (max-width: 767px) {
			margin: 11px auto 0;
			text-align: center;
			@include font-size(12);
			line-height: 1.5;
		}
	}

	.section {

		&__link {
			margin: -25px auto 0;
			border-bottom: 1px solid $primary;

			@media (max-width: 767px) {
				margin: 0 auto;
			}
		}

		&__desc {
			margin: 20px 0;

			@media (max-width: 767px) {
				text-align: center;
				margin: 13px auto 3px;
			}
		}
	}
}