.subscribe {
	display: flex;
	margin-top: 80px;
	width: 67%;

	@media(max-width: 1320px) {
		width: 80%;
	}

	@media(max-width: 1024px) {
		width: 90%;
	}

	@media(max-width: 767px) {
		flex-direction: column;
		margin: 18px auto 40px;
		width: 100%;
  }

	&__lc {
		padding: 55px 36px 0 18px;

		@media(max-width: 1320px) {
			padding: 55px 25px 0;
		}

		@media(max-width: 767px) {
			width: 100%;
			text-align: center;

			.section__subtitle {
				line-height: 1.33;
			}
		}
	}

	&__rc {
		width: 95%;
		margin: 0 auto;
	}

	&__img {
		width: 100%;
		height: auto;

		@media(max-width: 1024px) {
			max-width: 320px;
			margin: 0 auto;
		}

		@media(max-width: 767px) {
			width: 74%;
			max-width: 360px;
			margin: 45px auto 0;
		}
	}

	.btn--cta {
		margin-top: 35px;
		padding-left: 30px;
		padding-right: 30px;

		@media (max-width: 767px) {
			display: none;
			padding-left: 7px;
			padding-right: 7px;
			margin: 20px auto;
		}
	}
}