.section {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
	color: $primary;

	@media(max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__title {
		font-family: $vollkorn;
		@include font-size(48);
		font-weight: $weight-semibold;
		line-height: 1.17;
		display: table;
		margin: 0 auto;

		&--upper {
			text-transform: uppercase;
		}

		@media(max-width: 1120px) {
			@include font-size(40);
		}

		@media(max-width: 1024px) {
			@include font-size(32);
		}

		@media(max-width: 767px) {
			@include font-size(24);
		}
	}

	&__subtitle {
		font-family: $vollkorn;
		@include font-size(36);
		font-weight: $weight-semibold;
		line-height: 1.12;

		&--upper {
			text-transform: uppercase;
		}

		@media(max-width: 1120px) {
			@include font-size(32);
		}

		@media(max-width: 1024px) {
			@include font-size(24);
		}

		@media(max-width: 767px) {
			@include font-size(18);
		}
	}

	&__desc {
		font-family: $open-sans;
		@include font-size(18);
		font-weight: $weight-light;
		line-height: 1.56;

		&--strong {
			font-weight: $weight-bold;
		}

		&--upper {
			text-transform: uppercase;
		}

		&--center {
			text-align: center;
		}

		@media(max-width: 1024px) {
			@include font-size(14);
		}

		@media(max-width: 767px) {
			line-height: 1.57;
		}
	}

	&__number {
		font-family: $open-sans;
		@include font-size(18);
		font-weight: $weight-bold;
		letter-spacing: normal;
		display: table;
		margin: 0 auto;

		@media(max-width: 767px) {
			@include font-size(10);
		}
	}

	&__link {
		display: table;
		font-family: $open-sans;
		@include font-size(18);
		border-bottom: 1px solid $primary;
		text-transform: uppercase;
		transition: .4s;
		cursor: pointer;

		&:hover {
			border-bottom: 1px solid transparent!important;
		}

		@media(max-width: 1024px) {
			@include font-size(16);
		}

		@media (max-width: 767px) {
			@include font-size(10);
		}
	}
}

.ornament {
	width: 107px;
	height: 45px;
	margin: 0 auto 35px;
	position: relative;
	display: block;

	&:before,
	&:after {
		position: absolute;
		content:'';
		width: 173px;
		height: 1px;
		background: #000;
		display: block;
		top: 22px;
	}

	&:before {
		left: -193px;
	}

	&:after {
		right: -193px;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	@media(max-width: 767px) {
		width: 56px;
		height: 20px;

		&:before,
		&:after {
			width: 89px;
			top: 10px;
		}

		&:before {
			left: -101px;
		}

		&:after {
			right: -101px;
		}
	}

	&--sm {
		margin: 0 auto 0 30%;
		width: 67px;
		height: 22.5px;

		&:before,
		&:after {
			position: absolute;
			content:'';
			width: 98px;
			background: #000;
			display: block;
			top: 12px;
		}

		&:before {
			left: -107px;
		}

		&:after {
			right: -107px;
		}

		@media (max-width: 1024px) {
			&:before,
			&:after {
				width: 57px;
			}

			&:before {
				left: -68px;
			}

			&:after {
				right: -68px;
			}
		}

		@media(max-width: 767px) {
			width: 46px;
			height: 17px;
			margin: 0 auto 0 35%;

			&:before,
			&:after {
				width: 73px;
				top: 7px;
			}
			&:before {
				left: -83px;
			}

			&:after {
				right: -83px;
			}
		}
	}
}

.m-hidden {
	display: block;

	@media (max-width: 767px) {
		display: none;
	}
}

.m-visible {
	display: none;

	@media (max-width: 767px) {
		display: block;
		opacity: 0;
		transition: .4s;
		position: absolute;
		max-width: 250px;
		left: calc(50% - 125px);
		padding: 0 25px;
	}

	&.show {
		opacity: 1;
	}
}