//-----------------------------------------------------------
// RESET
//-----------------------------------------------------------

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: inherit;
	vertical-align: baseline;
}

//smooth those fonts
body, input, button, select, textarea {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	margin: 1em auto;
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

b,strong {
	font-weight: bold;
}

i,em {
	font-style: italic;
}
input,
select,
textarea,
button {
	-webkit-appearance: none;
	border-radius: 0;
}
select { -webkit-appearance: menulist-button; }

textarea {
	resize: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img,
picture { display: block; height: auto; }

button,
input,
textarea {
	background: inherit;
	border: 0;
	outline: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
}

iframe {
	display: block;
	max-width: 100%;
}

html,
body { height: 100%; }

//-----------------------------------------------------------
// HELPERS
//-----------------------------------------------------------

.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:before {
    clear: both;
}

.clear:after {
    clear: both;
}

.hidden { display: none; }