section.section.we-are
	.we-are__lc
	.we-are__rc
		.we-are__inner
			.ornament.ornament--sm
				img(src="img/ornament.png" alt="Орнамент")
			h2.section__title Мене звати Bookowina
			p.section__desc Я знаю, як важко буває знайти час для себе, як мучить процес вибору, як іноді хочеться сховатися від усього та провести вихідний за книгою та вином. Тому я тут — ваш щомісячний запас гарної літератури та смачного вина у коробочці-сюрпризі.
			a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Замовити" target="_blank") Хочу коробочку