section.section.inside

	.ornament
		img(src="img/ornament.png" alt="Орнамент")

	h2.section__title Що всередині?

	.inside__inner

		.layer-1
			button.btn.btn--cta Відкрий мене

		.layer-2

			p.section__desc.section__desc--upper.section__desc--center Натисніть, щоб дізнатися подробиці

			.layer-2__inner

				.layer-2__lc.tabs

					ul.tabs__nav
						li.tabs__nav-item
							a(href="#tab-1")
								.tabs__checkbox
									.tabs__checkbox-circle
							span.section__desc Вино
						li.tabs__nav-item
							a(href="#tab-2")
								.tabs__checkbox
									.tabs__checkbox-circle
							span.section__desc Какао

					#tab-1
						.tabs__inner
							.tabs__img
							.tabs__text
								h3.section__subtitle Винo
								p.section__desc Разом із сомельє ми підібрали гідну пляшку, яка створить відповідну атмосферу, не тільки до книги, а й до вечері:) Всі вина у коробочках сухі та перевірені численними дегустаціями :)

					#tab-2
						.tabs__inner
							.tabs__img
							.tabs__text
								h3.section__subtitle Какао
								p.section__desc Справжній, ароматний та дуже насичений. Заварюється як гарячий шоколад і подобається абсолютно всім.


				.layer-2__rc
					.layer-2__item.layer-2__item--top
						.scene.scene--front
							img(src="img/inside/books.png" alt="Книги")

							div.m-visible
								h3.section__subtitle 2 книги
								p.section__desc 2 художні книги — від українського та світового авторів, що підібрані індивідуально для кожного замовника. Новинки, світові бестселери, дебютні видання — щомісяця нові.

						.scene.scene--back
							.scene__inner
								h3.section__subtitle 2 книги
								p.section__desc 2 художні книги — від українського та світового авторів, що підібрані індивідуально для кожного замовника. Новинки, світові бестселери, дебютні видання — щомісяця нові.

					.layer-2__item.layer-2__item--bot
						.scene.scene--front
							img(src="img/inside/postcards.png" alt="Листівки")

							div.m-visible
								h2.section__subtitle Подарунок
								p.section__desc Книжкові сувеніри від команди.

						.scene.scene--back
							.scene__inner
								h2.section__subtitle Подарунок
								p.section__desc Книжкові сувеніри від команди.

	span.section__number 2