section.section.process
	.ornament
		img(src="img/ornament.png" alt="Орнамент")

	h2.section__title Як це працює?

	.process__wrap

		.process__img

		.process__lc
			img.process__lc-img(src="img/man.png" alt="Процес")
			h3.section__subtitle 1. Заповніть анкету
			p.section__desc про свої книжкові вподобання. Отримайте листа із подробицями замовлення, оплати та доставки.
		.process__mc
			img.process__mc-img(src="img/packaging.png" alt="Процес")
			h3.section__subtitle 2. Почекайте трохи
			p.section__desc Передплата діє на наступний місяць. За цей час команда Boоkowina вивчить ваші смаки, підбере книги та вино, спакує коробочку.
		.process__rc
			img.process__rc-img(src="img/girl.png" alt="Процес")
			h3.section__subtitle 3. Отримайте мене!
			p.section__desc Відправка проходить з 1 по 6 число кожного місяця. ви зможете забрати мене у найближчому відділенні Нової пошти або замовити доставку кур’єром

	a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Замовити" target="_blank") Хочу коробочку

	span.section__number 3