section.section.prepay
	.prepay__inner
		.prepay__lc
			img(src="img/letter.png" alt="Лист")
		.prepay__rc
			.prepay__wrap
				h2.section__title Передплата
				p.section__desc Аби протестувати сервіс та ближче познайомитися зі мною, раджу першого разу підписатися на один місяць. Але зауважте, що довгострокова передплата гарантує гарне чтиво та вино на найближчий час
				a.section__link(href="price.html" title="Обрати") Обрати передплату

	.divider
		img(src="img/testimonials.png" alt="Відгуки")

	section.section.reviews
		.reviews__item
			.reviews__headline
				img.reviews__person(src="img/person-1.png" alt="")
				span.reviews__name Арсеній Фещенко
					br
					| Product Designer ЛУН.ua
			p.section__desc Необыкновенно харизматичная коробка с необыкновенно харизматичными книгами упакованная необыкновенно харизматичными людьми

		.reviews__item
			.reviews__headline
				img.reviews__person(src="img/person-2.png" alt="")
				span.reviews__name Ніна Аракеліян,
					br
					| Svitla Systems
			p.section__desc Дякую за індивідуальний підхід, вчасність та увагу до деталей. Замовляла співробітникам - 4 хлопці, усі різні, кожен отримав свою унікальну коробочку і був щасливий як дитя. Дуже вдячна!

		.reviews__item
			.reviews__headline
				img.reviews__person(src="img/person-3.png" alt="")
				span.reviews__name Тоня Андрійчук
					br
					| Editor в Район.Луцьк
			p.section__desc Чудовий проект!!! Велике спасибі тим, хто це творить ) Все дуже гарно продумано і підібрано. Рада, що передплатила ))) Раджу всім!

		.reviews__item
			.reviews__headline
				img.reviews__person(src="img/person-4.png" alt="")
				span.reviews__name Артем Зелений,
					br
					| CEO GreenPR Ukraine
			p.section__desc Чудовий сервіс подарунків для тих, хто любить букви та вино) Молодці))))


		a.section__link(href="https://www.facebook.com/pg/bookowina/reviews" title="Інші відгуки" target="_blank") Інші відгуки

	span.section__number 4