section.section.subscribe
	.subscribe__lc
		h3.section__subtitle Хтось шукає зміст у книгах, дехто — у вині, але істина десь посередині
		a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Підписатися" target="_blank") Підписатися

	.subscribe__rc
		img.subscribe__img(src="img/verity.png" alt="Істина")