.price {
	padding-top: 29px;

	@media (max-width: 767px) {
		padding-top: 73px;
	}

	&__inner {
		width: 90%;
		height: 100%;
		display: flex;
		margin: 60px auto 40px;
		justify-content: space-between;

		@media(max-width: 1024px) {
			margin: 60px auto;
			width: 100%;
		}

		@media(max-width: 767px) {
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 35px;
		}
	}

	&__title {
		font-family: 'AmaticSC', cursive;
		@include font-size(48);
		line-height: 1.4;
		font-weight: $weight-regular;
		text-align: center;
		text-transform: uppercase;

		@media(max-width: 1120px) {
			@include font-size(44);
		}

		@media(max-width: 1024px) {
			@include font-size(40);
		}

		@media(max-width: 767px) {
			@include font-size(50);
			max-width:250px;
		}
	}

	&__lc,
	&__mc,
	&__rc {
		width: 28%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media(max-width: 1120px) {
			padding: 16px;
		}

		@media(max-width: 767px) {
			width: 100%;
			padding: 0;
		}
	}

	&__lc {
		@media(max-width: 767px) {
			order: 2;
			margin-bottom: 63px;
		}
	}

	&__mc {

		@media(max-width: 767px) {
			order: 1;
			margin-bottom: 63px;
		}

		.price__wrap {
			transform: scale(1.2);

			@media(max-width: 767px) {
				transform: scale(1);
			}
		}
	}

	&__rc {
		@media(max-width: 767px) {
			order: 3;
		}
	}

	&__wrap {
		background: url(../img/subscribe-book.png) center no-repeat;
		background-size: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 300px;
		color: #fff;
		padding: 16px 20px 0;

		@media(max-width: 1120px) {
			padding: 16px;
		}

		@media(max-width: 1024px) {
			height: 200px;
		}

		@media(max-width: 767px) {
			text-align: center;
			height: 260px;
		}
	}

	&__ammount {
		font-family: 'Vollkorn', serif;
		@include font-size(36);
		font-weight: $weight-semibold;
		line-height: 0.89;
		display: inline-block;
		text-transform: uppercase;
		margin: 38px auto -6px;

		@media(max-width: 1024px) {
			@include font-size(30);
		}

		@media(max-width: 767px) {
			@include font-size(24);
			margin-top: 20px;
		}
	}

	.btn--cta {
		width: 200px;
		margin: 0 auto;

		@media(max-width: 1024px) {
			width: 100%;
			max-width: 200px;
		}

		@media(max-width: 767px) {
			width: 120px;
		}
	}

	.corporate {
		display: flex;
		justify-content: space-between;
		width: 83%;
		margin: 168px auto 0;

		@media (max-width: 1024px) {
			margin-top: 130px;
		}

		@media (max-width: 767px) {
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 40px;
			text-align: center;
			margin-bottom: 370px;
		}

		&__lc {
			width: 60%;

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		&__rc {
			position: relative;
			width: 40%;

			@media (max-width: 767px) {
				width: 100%;
			}

			img {
				position: absolute;
				top: -86px;
				left: 55px;

				@media(max-width: 1120px) {
					left: 0;
				}

				@media(max-width: 1024px) {
					left: -65px;
				}

				@media(max-width: 767px) {
					height: 478px;
					top: 40px;
					left: calc(50% - 150px);
				}
			}
		}

		.section {
			&__desc {
				margin: 6px 0 17px;
				@media (max-width: 767px) {
					margin-top: 18px;
				}
			}

			&__link {
				@media (max-width: 767px) {
					margin: 24px auto 0;
				}
			}
		}
	}
}