//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------

html,
body {
	height: 100%;
}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: $weight-regular;
	line-height: 1.5;
	color: $primary;
	position: relative;

	&.menu-opened {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	flex: 1 0 auto;

	@media (max-width: 1320px) {
		max-width: 1060px;
	}

	@media (max-width: 1120px) {
		max-width: 100%;
		padding: 0 50px;
	}

	@media (max-width: 1024px) {
		padding: 90px 40px 0;
	}

	@media (max-width: 767px) {
		padding: 60px 0 0;
	}
}

input::-ms-clear {
	display: none;
}

svg {
	transition: fill .3s;
}

a {
	text-decoration: none;
	color: inherit;
}
