@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSansRegular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans/OpenSansLight.ttf");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans/OpenSansBold.ttf");
	font-style: normal;
	font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSansExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Vollkorn';
  src: url("../fonts/Vollkorn/VollkornRegular.ttf");
  font-style: normal;
  font-weight: 400;
}


@font-face {
	font-family: 'Vollkorn';
	src: url("../fonts/Vollkorn/VollkornSemiBold.ttf");
	font-style: normal;
	font-weight: 700;
}


@font-face {
	font-family: 'AmaticSC';
	src: url("../fonts/AmaticSC/AmaticSCRegular.ttf");
	font-style: normal;
	font-weight: 400;
}