//-----------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------

$primary: #102c39;
$primary-red: #d7362b;

//-------------------------------------------------
// Fonts

$open-sans: 'Open Sans', sans-serif;
$vollkorn: 'Vollkorn';


$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;

//-------------------------------------------------
// MISC

$transition-time: 0.3s;