.faq {
	padding-top: 28px;
	color: $primary;

	@media (max-width: 767px) {
		padding-top: 73px;
	}

	&__wrapper {
		max-width: 1160px;
	}

	&__img {
		margin: 20px auto 0;

		@media (max-width: 767px) {
			width: 269px;
			margin-top: 38px;
		}
	}

	&__headline {
		background: #fff;
		height: 80px;
		border: solid 1px #cfcfcf;
		padding: 15px 0;
		transition: .4s;

		@media (max-width: 767px) {
			height: 60px;
			padding: 5px 0;
		}

		&.opened {
			background: #d7362b;
			color: #fff;
		}
	}

	&__nav {
		margin-top: 60px;

		@media (max-width: 767px) {
			margin-top: 48px;
		}
	}

	&__item {
		height: 80px;
		overflow: hidden;
		margin-bottom: 20px;
		cursor: pointer;

		@media (max-width: 767px) {
			height: 60px;
		}

		&.opened {
			height: auto;

			.faq__plus {

				&:before,
				&:after {
					background: #fff;
				}

				&:before {
					display: none;
				}

				&:after {
					transform: rotate(-180deg);
				}
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__lc {
		height: 100%;
		width: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #cfcfcf;

		@media (max-width: 767px) {
			width: 130px;
		}
	}

	&__rc {
		width: 100%;
		padding-left: 38px;

		@media (max-width: 767px) {
			padding-left: 28px;
		}
	}

	&__wrap {
		height: 50px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__inner{
		padding: 37px 60px;

		@media(max-width: 767px) {
			padding: 42px 27px 22px;
		}
	}

	&__plus {
		height: 30px;
		width: 30px;
		position: relative;
		transition: .4s;

		&:before,
		&:after {
			content: '';
			position: absolute;
			background: $primary;
			height: 2px;
			width: 30px;
			top: 14px;
		}

		&:after {
			transform: rotate(90deg);
		}
	}

	.section__desc {
		@include font-size(18);
		font-weight: $weight-light;
		line-height: 1.56;
		margin: 0 0 22px;

		&:last-of-type {
			margin-bottom: 0;
		}

		@media(max-width: 767px) {
			@include font-size(14);
		}

		&--strong {
			font-weight: $weight-bold;
			margin: 0 0 8px 0;
		}
	}
}