.about {
	padding-top: 28px;

	@media (max-width: 767px) {
		padding-top: 72px;
	}

	&__wrap {
		margin-bottom: 82px;
		
		@media (max-width: 767px) {
			margin-bottom: 64px;
		}

		.section__desc {
			max-width: 600px;
			margin: 40px auto 0;

			@media (max-width: 1024px) {
				text-align: center;
			}

			@media (max-width: 767px) {
				max-width: 280px;
				margin-top: 20px;
			}
		}
	}

	&__img {
		display: block;
		margin: 40px auto 0;

		@media (max-width: 767px) {
			max-width: 150px;
		}
	}

	&__people {
		display: flex;
		width: 69%;
		margin: 40px auto 0;
		justify-content: space-between;

		@media (max-width: 1024px) {
			width: 100%;
			justify-content: center;
		}

		@media (max-width: 767px) {
			flex-direction: column;
			margin-top: 80px;
			justify-content: space-between;
		}

		&-img {
			margin-bottom: 46px;

			@media (max-width: 767px) {
				width: 73%;
				max-width: 350px;
				margin-bottom: 20px;
			}
		}

		&-text {
			padding-left: 16px;

			@media (max-width: 767px) {
				padding: 0;
			}
		}

		.section__desc {
			margin-top: 6px;

			@media (max-width: 767px) {
				margin-top: 10px;
			}
		}
	}

	&__lc,
	&__rc {
		width: 38%;

		@media (max-width: 1024px) {
			width: 44%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 767px) {
			width: 100%;
			text-align: center;

			.section__subtitle {
				@include font-size(24);
			}
		}
	}

	&__rc {
		@media (max-width: 767px) {
			margin-top: 28px;
		}
	}

	&__inner {
		padding-top: 10px;
	}

	&__table {
		margin-top: 31px;

		@media (max-width: 767px) {
			margin-top: 16px;
		}

		&-row {
			display: flex;
			border-bottom: 1px solid #cfcfcf;

			@media (max-width: 767px) {
				flex-direction: column;
				border: none;
			}

			&:last-of-type {
				border: none;
			}
		}

		&-item {
			border-right: 1px solid #cfcfcf;
			height: 118px;
			width: 33.3%;

			@media (max-width: 767px) {
				width: 100%;
				border: none;
				height: 106px;
			}

			&:last-of-type {
				border: none;
			}
		}

		.img-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			img {
				max-height: 48px;
				max-width: 80%;
			}
		}
	}

	.section {
		&__link {
			margin-top: 20px;

			@media (max-width: 767px) {
				margin: 20px auto;
			}
		}
	}
}