doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.contacts

					h1.section__title Напиши нам

					form.contacts__inner(action="#" name="contacts" method="POST" autocomplete="off")

						.contacts__lc

							h3.section__subtitle Тема листа

							.contacts__lc-inner

								label.radio__group
									input.contacts__form-radio(type="radio" name="contact" value="order" checked)
									span.radio__custom
									span.section__desc Корпоративне замовлення

								label.radio__group
									input.contacts__form-radio(type="radio" name="contact" value="change")
									span.radio__custom
									span.section__desc Обмін книжки

								label.radio__group
									input.contacts__form-radio(type="radio" name="contact" value="сommunicate")
									span.radio__custom
									span.section__desc Хочу поспілкуватися :)

						.contacts__rc

							.contacts__form-group
								label.contacts__form-label(for="name") ПІБ
								input.contacts__form-inp(id="name" type="text" name="name" required)
							.contacts__form-group
								label.contacts__form-label(for="email") E-mail
								input.contacts__form-inp(id="email" type="text" name="email" required)
							.contacts__form-group
								label.contacts__form-label(for="phone") Телефон #[span - необов'язково]
								input.contacts__form-inp(id="phone" type="text" name="phone")
							.contacts__form-group
								label.contacts__form-label Повідомлення
								textarea.contacts__form-text

							button.btn.btn--cta(type="submit" value="send message") Відправити

					.contacts__sent(style="display:none")

						h2.section__subtitle Дякую за повідомлення!

						p.section__desc Ми відповімо на твої питання найближчим часом.

						a.btn.btn--cta(href="index.html" title="На головну") На головну


			include partials/global/footer